body{
    background-color: #F8F8F9;
}
.home-search-body{
    overflow-x: scroll;
    background-color: #ffffff;
}
.home-search-body::-webkit-scrollbar {display:none}
.home-search-body ul{
    display: flex;flex-direction: row;
}
.home-search-body li{
    display: flex;flex-direction: column;padding: 0 10px;line-height: 35px;
}
.home-search-body div{
    white-space: nowrap;
}
.home-search-body .active{
    color: #1db31d;
    display: block;
}
.greenline{
    height: 3px;background-color: #1db31d;width: 100%;display: none;
}
.leftright{
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    align-items: baseline;
    line-height: 35px;
    background-color: #fff;
}
.leftrightL{
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: baseline;
    line-height: 35px;
    background-color: #fff;
}
.home-detail-head{
    margin-top: 50px;
    margin-bottom: 10px;
}
.apply_delivery{
    padding: 0 15px 10px;
    font-size: 12px;
    align-items: baseline;
    line-height: 35px;
    background-color: #fff;
    margin: 5px 0;
}
.red{
    color: red;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.footer .acceptBtnStyle{
    position: relative;
    width: 50%;
}
.acceptBtnStyle{
    height: 40px;
    line-height: 40px;
    background-color: red;
    color: #ffffff;
    width: 100%;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    text-align: center;
}


.search-bar{
    line-height: 45px;
    background-color: #ffff;
    font-size: 16px;
    text-align: center;
}
.top-search{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
.s-back{
    position: absolute;
    top: 12px;
    left: 15px;
}

.ft{
    font-size: 16px;
}
.detail-detail{
    margin-bottom: 50px;
    background-color: #ffffff;padding: 0 15px 20px;
}

.detail-detail-head{
    line-height: 20px;margin-bottom: 5px;
}
.col99{
    color: #999999;
}
.order-footer{
    margin-top: 20px;
}
.order-leftright{
    margin-left: 35px;
}
.detail-detail-title{
    font-size: 14px;
    line-height: 40px;
    border-bottom: 1px solid #f4f4f4;
    background-color: #ffffff;
    padding: 0 15px;
}

.detail-detail .content-body li{
    padding: 10px 15px;
    background-color: #ffffff;
    margin-bottom: 5px;
}
.detail-detail .content-body table{
    width: 100%;
    font-size: 12px;
    color: #495060;

}
.detail-detail .content-body table tr{
    height: 28px;
    line-height: 28px;
    vertical-align: top;

}

.detail-detail .content-body table td:nth-child(2){
    width: 12.5rem;
}